@media screen and (max-width: 576px) {
  header {
    padding: 20px 35px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  nav .menu {
    display: block;
  }
  ul > li:not(:last-child) {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .content {
    text-align: center;
  }
  .content h1 {
    font-size: 3rem;
  }
  .break {
    display: none;
  }
  .content button {
    margin: 0 auto;
  }

  .image-container {
    width: 386px;
    height: 386px;
    margin: 1rem;
  }
  .image-container img {
    height: 95%;
    width: 95%;
  }
  .sponsors {
    border: none;
    padding: 0;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    padding: 0 70px;
  }

  .collection .title {
    text-align: center;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  nav .menu {
    display: block;
  }
  ul > li:not(:last-child) {
    display: none;
  }
  .image-container {
    height: 442px;
    width: 442px;
    border-bottom: none;
    border-top: none;
  }
  .image-container img {
    width: 445px;
    height: 425px;
  }
  .sponsors {
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  /* main {
    padding: 0 7rem;
  } */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-container .card {
    margin: 0 auto;
  }
  .card > img {
    width: 300px;
    height: 256px;
  }
}
