/* added poppins font */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* header styling */

header {
  padding: 80px 120px 100px;
}

nav h3 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .menu {
  display: none;
}
nav ul {
  display: flex;
}

nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  padding-left: 34px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45rem;
}

.content {
  max-width: 582px;
}
.content h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.content p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 0;
}

.content button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border-radius: 40px;
  background-color: #e02c6d;
  border: none;
}

.image-container {
  width: 475px;
  height: 475px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/circle-design.svg);
  background-position: center;
  background-size: cover;
}
.image-container img {
  width: 440px;
  height: 414px;
}

/* sponsors section styling */
.sponsors {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  padding: 40px 60px;
  max-width: 1600px;
  margin: 0 auto;
  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
}

/* main sections */

main {
  padding: 0 165px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* collection section styling */

.collection {
  margin-top: 1rem 2rem;
}
.collection .title {
  width: 400px;
  height: 70px;
  margin: 0 auto;
}
.collection .title h2 {
  font-size: 2.5rem;
}
.card-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card-container .card {
  width: min-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 400px;
  height: 341px;
  border-radius: 5px;
}
.card .content {
  text-align-last: left;
}
.card .content h3 {
  margin-top: 1rem;
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.card .content h4 {
  color: #000000de;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.review {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review .stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.stars img {
  width: 1rem;
  height: 1rem;
}
.review p {
  color: #5e6366;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}
.content p {
  color: #787885;
  font-size: 16px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  padding: 0.5rem 0;
}
.more {
  margin-top: 50px;
  max-width: max-content;
  height: min-content;
  display: flex;
  justify-content: space-between;
  color: #e02c6dde;
}
.more p {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}

/* feature section styling */

.feature {
  margin: 4rem 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img img {
  width: 404px;
  height: 270px;
  border-radius: 5px;
}

.feature .content {
  text-align: left;
}
.feature .content h3 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.feature .content p {
  max-width: 500px;
  padding: 1rem 0;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
.feature .content .button {
  color: #fff;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  background-color: #e02c6d;
}
